<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unterwegs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.5,user-scalable=no">
    <script src="assets/jquery.min.js"></script>
    <script src="assets/galleria/galleria-1.4.2.min.js"></script>
    <script src="assets/galleria/plugins/history/galleria.history.min.js"></script>
    <style>body{background:#000;}</style>
  </head>
<body>
  <div class="galleria">
    <% gallery.photos.each do |photo| %>
      <a href="photos/<%=photo.filename%>">
        <img
          src="photos/<%=photo.thumb_filename%>"
          data-big="photos/<%=photo.fullscreen_filename%>"
          data-title="<%=photo.title%>"
          data-description="<%=photo.description%>"
        >
      </a>
    <% end %>
  </div>
  <script>
    // Load the Fullscreen theme
    Galleria.loadTheme('assets/galleria/themes/fullscreen/galleria.fullscreen.min.js');

    // Initialize Galleria
    Galleria.run('.galleria');
  </script>
  </body>
</html>
